<h3> Importing necessary Libraries

In [41]:
import pandas as pd
import sqlalchemy as sa

# Creating SQLAlchemy Engine

engine = sa.create_engine("mysql+pymysql://root:omsairam@localhost:3306/target_db")

<h3> Importing CSV files

In [42]:
customer_df = pd.read_csv("customers.csv")
geolocation_df = pd.read_csv("geolocation.csv")
orderitems_df = pd.read_csv("order_items.csv")
orders_df = pd.read_csv("orders.csv")
payments_df = pd.read_csv("payments.csv")
products_df = pd.read_csv("products.csv")
sellers_df = pd.read_csv("sellers.csv")

<h3> Analyzing Customers Data

In [43]:
print(customer_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB
None

In [44]:
customer_df.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [45]:
customer_df.isnull().any()

customer_id                 False
customer_unique_id          False
customer_zip_code_prefix    False
customer_city               False
customer_state              False
dtype: bool

In [46]:
if customer_df.duplicated().any():
    print("There are duplicate records in customer_df")
else:
    print("There are no duplicate records in customer_df")

There are no duplicate records in customer_df

In [47]:
# Exporting customer_df to mysql database

customer_df.to_sql(name = "customers",con=engine,if_exists='replace',index=False)

99441

<h3> Analyzing GeoLocation Data

In [48]:
print(geolocation_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB
None

In [49]:
geolocation_df.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [50]:
geolocation_df.isnull().any()

geolocation_zip_code_prefix    False
geolocation_lat                False
geolocation_lng                False
geolocation_city               False
geolocation_state              False
dtype: bool

In [51]:
if geolocation_df.duplicated().any():
    print("There are duplicate records in geolocation_df")
else:
    print("There are no duplicate records in geolocation_df")

There are duplicate records in geolocation_df

In [52]:
geolocation_duplicates = geolocation_df[geolocation_df.duplicated()]
geolocation_duplicates

# Dropping Duplicate values
# geolocation_duplicates.drop_duplicates(inplace=True)

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
15,1046,-23.546081,-46.644820,sao paulo,SP
44,1046,-23.546081,-46.644820,sao paulo,SP
65,1046,-23.546081,-46.644820,sao paulo,SP
66,1009,-23.546935,-46.636588,sao paulo,SP
67,1046,-23.546081,-46.644820,sao paulo,SP
...,...,...,...,...,...
1000153,99970,-28.343273,-51.873734,ciriaco,RS
1000154,99950,-28.070493,-52.011342,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS

In [53]:
geolocation_df.to_sql(name="geolocation",con=engine,if_exists='replace',index=False)

1000163

<h3> Analyzing Order Items Data

In [54]:
orderitems_df.isnull().any()

order_id               False
order_item_id          False
product_id             False
seller_id              False
shipping_limit_date    False
price                  False
freight_value          False
dtype: bool

In [57]:
if orderitems_df.duplicated().any():
    print("There are duplicate records in orderitems_df")
else:
    print("There are no duplicate records in orderitems_df")

There are no duplicate records in orderitems_df

In [58]:
orderitems_df.to_sql(name="order_items",con=engine,if_exists='replace',index=False)

112650